---
import { Icon } from "astro-icon/components";

const documents = [
  {
    title: "Matriz DOFA",
    description:
      "Evaluación estratégica de fortalezas, oportunidades, debilidades y amenazas del proyecto.",
  },
  {
    title: "Caracterización de la población",
    description:
      "Análisis detallado de los usuarios objetivo, incluyendo datos demográficos.",
  },
  {
    title: "Etapas de desarrollo",
    description:
      "Resumen de las fases clave del proyecto, desde la planeación hasta la implementación.",
  },
  {
    title: "Mockups",
    description:
      "Diseños visuales preliminares que ilustran la interfaz y funcionalidad de la plataforma.",
  },
];
---

<section id="documents" class="grid place-content-center p-8 text-white">
  <div class="container grid max-w-4xl">
    <div class="info-documents">
      <h2 class="text-4xl font-bold mb-2">Documentos</h2>
      <p class="max-w-md">
        En esta sección encontrarás una recopilación organizada de los
        documentos clave que respaldan el desarrollo del proyecto. Cada recurso
        ha sido diseñado para proporcionar una visión más profunda y técnica de
        los diferentes aspectos, desde la planificación y análisis hasta los
        resultados obtenidos.
      </p>
    </div>
    {
      documents.map((document) => {
        return (
          <div class="flex flex-col justify-between bg-primary p-4 rounded-md shadow-lg shadow-dark">
            <h3 class="font-bold text-lg">{document.title}</h3>
            <p class="text-sm">{document.description}</p>
            {document.title === "Matriz DOFA" ? (
              <a
                target="_blank"
                href="https://academiausbbogedu-my.sharepoint.com/:x:/g/personal/jssosam_academia_usbbog_edu_co/ET6SZullc5lLuPDa7QqUqQYBaG6ItPOuun_cFh_Q8HLi0w?e=rXGNdV"
                class="flex items-center justify-between gap-x-2 font-semibold rounded-md text-accent self-end"
              >
                Ver
                <Icon name={"arrow"} />
              </a>
            ) : (
              <button class="flex items-center justify-between gap-x-2 font-semibold rounded-md text-accent self-end">
                Ver
                <Icon name={"arrow"} />
              </button>
            )}
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .container {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .info-documents {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
</style>
